<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Podaj Kod Pocztowy!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        var url = window.location;

        function RestGETLocality () {

            var zipCode = $("#zipCodeField").val();
            $.ajax({
                type:       'GET',
                url:        '/getLocality/' + zipCode,
                async:      true,
                success:    function (result) {
                    document.getElementById("localityResult").innerHTML = JSON.stringify(result);
                },
                error: function () {
                    document.getElementById("localityResult").innerHTML = "błąd/ brak miejscowośći";
                }
            })
        }
    </script>
</head>
<body>
    <h2>Zmieniarka miejscowośći po kodzie pocztowym!</h2>
    <input type="text" id="zipCodeField" onkeyup="RestGETLocality()"/>
    <div id="localityResult">........</div>
</body>
</html>